<!-- jQuery easing plugin -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.toggle_1').click(function() {


            $('#project_status_5').hide();
            $('#project_status_6').hide();
            $('#project_status_7').hide();
            $('#project_status_8').hide();
            $('#project_status_9').hide();
            $('#project_status_10').hide();
            $('#project_status_11').hide();
            $('#project_status_12').hide();
            $('#project_status_13').hide();
            $('#project_status_18').hide();



            $('#project_status_14').toggle();
            $('#project_status_15').toggle();
            $('#project_status_2').toggle(  );
            $('#project_status_4').toggle( );
            $('#project_status_16').toggle( );
            $('#project_status_17').toggle(  );
            $('#project_status_1').toggle(  );
            $('#project_status_3').toggle(  );




        });
    });

    $(document).ready(function() {
        $('.toggle_2').click(function() {


            $('#project_status_1').hide();
            $('#project_status_2').hide();
            $('#project_status_3').hide();
            $('#project_status_4').hide();
            $('#project_status_12').hide();
            $('#project_status_13').hide();
            $('#project_status_14').hide();
            $('#project_status_15').hide();
            $('#project_status_16').hide();
            $('#project_status_17').hide();
            $('#project_status_18').hide();


            $('#project_status_7').toggle();
            $('#project_status_8').toggle();
            $('#project_status_9').toggle();
            $('#project_status_10').toggle();
            $('#project_status_11').toggle();
            $('#project_status_5').toggle();
            $('#project_status_6').toggle();

        });
    });

    $(document).ready(function() {
        $('.toggle_3').click(function() {


            $('#project_status_1').hide();
            $('#project_status_2').hide();
            $('#project_status_3').hide();
            $('#project_status_4').hide();
            $('#project_status_5').hide();
            $('#project_status_6').hide();
            $('#project_status_7').hide();
            $('#project_status_8').hide();
            $('#project_status_9').hide();
            $('#project_status_10').hide();
            $('#project_status_11').hide();
            $('#project_status_14').hide();
            $('#project_status_15').hide();
            $('#project_status_16').hide();
            $('#project_status_17').hide();




            $('#project_status_18').toggle();
            $('#project_status_12').toggle();
            $('#project_status_13').toggle();

        });
    });




</script>
<div class="dashboard-container">
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-plus-square fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"></div>
            <br>
            <div class="huge2">Pre-Proposal Projects!</div>
          </div>
        </div>
      </div>
      <a href="#"  >
        <div  class="panel-footer toggle_1" >
          <span  class="pull-left" >Click to Toggle</span>
          <span class="pull-right"><i class="fa fa-arrows-v"></i></span>
          <div class="clearfix" ></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-exclamation-triangle fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"></div>
            <br>
            <div class ="huge2">In Progress Projects!</div>
          </div>
        </div>
      </div>
      <a href="#" >
        <div class="panel-footer toggle_2" >
          <span class="pull-left ">Click to Toggle</span>
          <span class="pull-right"><i class="fa fa-arrows-v"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-check-square fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"></div>
            <br>
            <div class ="huge2">Completed Projects</div>
          </div>
        </div>
      </div>
      <a href="#" >
        <div class="panel-footer toggle_3" >
          <span class="pull-left 3">Click to Toggle</span>
          <span class="pull-right"><i class="fa fa-arrows-v"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>




<% @project_statuses.each do |project_status| %>

      <div class="col-lg-3 col-md-6 transition" id = "<%= dom_id(project_status) %>">
        <div class="panel panel-loop " >
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-th-list fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%=project_status.projects.count%></div>
                <br>
                <div class="huge3"><%= project_status.project_status_name %></div>
              </div>
            </div>
          </div>


            <div class="panel-footer">
              <span class="pull-left"><%=link_to 'View Details',  {:controller => "projects", :action => "index" , :project_status_id => project_status.id } %></span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>

        </div>
      </div>

<% end %>

<div id ="project_status"></div>

<script>


    Morris.Donut({
        element: 'project_status',
        data: [
            <% @project_statuses.each do |project_status| %>

            {label:'<%= project_status.project_status_name.squish %>', value: <%=project_status.projects.count%>},

            <%end%>

        ],

        colors: ['#B1A9EE', '#F5B907', '#F5071F', '#00FC04', '#00FCA4' , '#0058FC', '#FC00E7', '#FC007E'],

        resize: true

    });

</script>




