<!-- jQuery easing plugin -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.toggle_1').click(function() {
            $('.status_category_1').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_2').click(function() {
            $('.status_category_2').toggle();
        });
    });

    $(document).ready(function() {
        $('.toggle_3').click(function() {
            $('.status_category_3').toggle();
        });
    });

    $(document).ready(function() {
        $('.toggle_4').click(function() {
            $('.status_category_4').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_5').click(function() {
            $('.status_category_5').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_6').click(function() {
            $('.status_category_6').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_7').click(function() {
            $('.status_category_7').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_8').click(function() {
            $('.status_category_8').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_9').click(function() {
            $('.status_category_9').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_10').click(function() {
            $('.status_category_10').toggle();
        });
    });
    $(document).ready(function() {
        $('.toggle_11').click(function() {
            $('.status_category_11').toggle();
        });
    });










</script>
<div class="dashboard-container">
<div class="row">
<% color_array = ["panel panel-primary",  "panel panel-yellow",  "panel panel-green", "panel panel-primary",  "panel panel-yellow",  "panel panel-green","panel panel-primary",  "panel panel-yellow",  "panel panel-green" ]%>
  <% class_array = ["fa fa-plus-square fa-5x", "fa fa-exclamation-triangle fa-5x", "fa fa-check-square fa-5x", "fa fa-dashboard fa-5x", "fa fa-dashboard fa-5x", "fa fa-dashboard fa-5x", "fa fa-dashboard fa-5x", "fa fa-dashboard fa-5x", "fa fa-dashboard fa-5x"] %>
  <% toggle_array = ["toggle_1", "toggle_2", "toggle_3", "toggle_4", "toggle_5", "toggle_6","toggle_7", "toggle_8", "toggle_9", "toggle_10", "toggle_11"] %>
<% color_counter = 0%>
  <% class_counter = 0%>
  <% toggle_counter = 0 %>






  <% @status_categories.each_with_index do |status_category, index| %>
      <div class="col-lg-3 col-md-6">
        <div class= "<%= color_array[color_counter]%>">
          <% color_counter += 1%>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class= "<%=class_array[class_counter]%>"></i>
                <%class_counter +=1 %>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"></div>



                <br>

                <div class="huge2"><%=status_category.status_category_name%></div>
              </div>
            </div>
          </div>
          <a href="#"  >
            <div  class="panel-footer <%=toggle_array[toggle_counter]%> " >
              <% toggle_counter +=1 %>
              <span  class="pull-left" >Click to Toggle</span>
              <span class="pull-right"><i class="fa fa-arrows-v"></i></span>
              <div class="clearfix" ></div>
            </div>
          </a>
        </div>
      </div>

      <div class = "<%=dom_id(status_category)%>">
      <% @project_statuses.where(status_category: index+1).each do |project_status| %>

          <div class="col-lg-3 col-md-6 transition">
            <div class="panel panel-loop " >
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-th-list fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%=project_status.projects.count%></div>
                    <br>
                    <div class="huge3"><%= project_status.project_status_name %></div>
                  </div>
                </div>
              </div>


              <div class="panel-footer">
                <span class="pull-left"><%=link_to 'View Details', :controller => "projects", :action => "index" , :project_status_id => project_status.id %></span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>

      <% end %>
        </div>



<%end%>



</div>
</div>






<div id ="project_status"></div>

<script>


    Morris.Donut({
        element: 'project_status',
        data: [
            <% @project_statuses.each do |project_status| %>

            {label:'<%= project_status.project_status_name.squish %>', value: <%=project_status.projects.count%>},

            <%end%>

        ],

        colors: ['#B1A9EE', '#F5B907', '#F5071F', '#00FC04', '#00FCA4' , '#0058FC', '#FC00E7', '#FC007E'],

        resize: true

    });

</script>




