<%- model_class = IrrigationResponsibility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Irrigation Resposibility Name</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @irrigation_responsibilities.each do |irrigation_responsibility| %>
      <tr>
        <td><%= link_to irrigation_responsibility.id, irrigation_responsibility_path(irrigation_responsibility) %></td>
        <td><%= irrigation_responsibility.irrigation_responsibility_name %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_irrigation_responsibility_path(irrigation_responsibility), :class => ' btn-default btn-sm' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_irrigation_responsibility_path,
            :class => 'btn btn-primary btn-index' %>
