<%- model_class = ProjectRequestedSalesDocument -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Project ID:</strong></dt>
  <dd><%= @project_requested_sales_document.project_id %></dd>
  <dt><strong>Requested Sales Document ID:</strong></dt>
  <dd><%= @project_requested_sales_document.requested_sales_document_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              project_requested_sales_documents_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_requested_sales_document_path(@project_requested_sales_document), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_requested_sales_document_path(@project_requested_sales_document),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
