<body>
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">

        <div class="panel-body">

          <%= form_for @project_type, :html => { :class => "form-horizontal project_type" } do |f| %>

    <% if @project_type.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project_type.errors.count, "error") %> prohibited this project_type from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :project_type_name,'*Project Type Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_type_name, :class => 'form-control' %>
    </div>
    <%= error_span(@project_type[:project_type_name]) %>
  </div>
<div >
    <%= f.label :question_name, "Text Fields Questions" , :class => 'control-label' %>
  <br>

  <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', f:builder %>
  <% end %>
  <%= link_to_add_fields "Add Text Question", f, :questions %>
</div>
    <br>



  <%= f.fields_for :categories do |builder| %>
	<%= render 'category_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Categories", f, :categories %>
                  <br>
                  <br>




<%end%>




        </div>
      </div>
    </div>
  </div>
</div>
</body>