<%- model_class = Installer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Installer Name</th>
      <th>Installer Email</th>
      <th>Installer Phone</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <% @installers.each do |installer| %>
      <tr>
        <td><%= link_to installer.id, installer_path(installer) %></td>
        <td><%= installer.installer_name %></td>
        <td><%= installer.installer_email %></td>
        <td><%= installer.installer_phone %></td>
        <td>
          <% if current_user.admin? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_installer_path(installer), :class => 'btn-default btn-sm' %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_installer_path,
            :class => 'btn btn-primary btn-sm' %>
