<%- model_class = Installer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Installer Name</strong></dt>
  <dd><%= @installer.installer_name %></dd>
  <dt><strong>Installer Email:</strong></dt>
  <dd><%= @installer.installer_email %></dd>
  <dt><strong>Installer Phone:</strong></dt>
  <dd><%= @installer.installer_phone %></dd>
  <dt><strong>User ID:</strong></dt>
  <dd><%= @installer.user_id %></dd>
</dl>

<div class = "showPageButton">
<%= link_to t('.back', :default => t("helpers.links.back")),
              installers_path, :class => 'btn-sm btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_installer_path(@installer), :class => 'btn-sm btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              installer_path(@installer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn-sm btn-danger' %>
</div>