<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <img src="/app/assets/images/funabounds-login.png"/>
          </div>
        </div>
        <div class="panel-body">

<%= form_for @project_site, :html => { :class => "form-horizontal project_site" } do |f| %>

    <% if @project_site.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project_site.errors.count, "error") %> prohibited this project_site from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project_site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
          <%= f.label :site_name, 'Site Name', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :site_name, :class => 'form-control' %>
          </div>
          <%= error_span(@project_site[:site_name]) %>
        </div>
              <div class="control-group">
                <%= f.label :site_address, 'Site Address', :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :site_address, :class => 'form-control' %>
                </div>
                <%= error_span(@project_site[:site_address]) %>
              </div>
              <div class="control-group">
                <%= f.label :site_city, 'Site City', :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :site_city, :class => 'form-control' %>
                </div>
                <%= error_span(@project_site[:site_city]) %>
              </div>
              <div class="control-group">
                <%= f.label :site_zip, 'Site Zip', :class => 'control-label' %>
                <div class="controls siteZip">
                  <%= f.text_field :site_zip, :class => 'form-control' %>
                </div>
                <%= error_span(@project_site[:site_zip]) %>
              </div>
              <div class="control-group">
                <%= f.label :site_access, 'Site Access',:class => 'control-label' %>
                <div class="controls funabounds">
                  <%= f.text_field :site_access, :class => 'form-control' %>
                </div>
                <%= error_span(@project_site[:site_access]) %>
              </div>
              <div class="control-group">
                <%= f.label :state_id, 'State', :class => 'control-label' %>
                <div class="controls funabounds">
                  <%= f.collection_select :state_id, State.all, :id, :state_name, {}, :class => 'form-control' %>
                </div>
                <%= error_span(@project_site[:state_id]) %>
              </div>
              <br>



              <%= f.submit nil, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                          project_sites_path, :class => 'btn btn-default' %>

<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
