<%- model_class = ProjectSite -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Site Name</th>
      <th>Site Address</th>
      <th>Site City</th>
      <th>Site Zip</th>
      <th>Site Access</th>
      <th>State</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_sites.each do |project_site| %>
      <tr>
        <td><%= link_to project_site.id, project_site_path(project_site) %></td>
        <td><%= project_site.site_name %></td>
        <td><%= project_site.site_address %></td>
        <td><%= project_site.site_city %></td>
        <td><%= project_site.site_zip %></td>
        <td><%= project_site.site_access %></td>
        <td><%= project_site.state.state_name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      project_site, :class => 'fa fa-eye fa-2 btn btn-default btn-sm'  %><br><br>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_site_path(project_site), :class => 'fa fa-edit fa-2 btn btn-default btn-sm' %>
          <%= link_to "Delete", project_site, :method=>:delete, data: {confirm: "Are you sure?"}, :class => 'btn-danger btn-sm' unless project_site.project_site_informations.count > 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_site_path,
            :class => 'btn btn-primary btn-index' %>
