<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">

          </div>
        </div>
        <div class="panel-body">
          <%= form_for @state, :html => { :class => "form-horizontal state" } do |f| %>

    <% if @state.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @state.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :state_name, 'State Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state_name,  :class => 'form-control' %>
    </div>
    <%= error_span(@state[:state_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :state_abbreviation, 'State Abbreviation', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state_abbreviation, :class => 'form-control' %>
    </div>
    <%= error_span(@state[:state_abbreviation]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            states_path, :class => 'btn btn-default' %>

<% end %>
</div>
</div>
</div>
</div>
</div>