<%= form_for @project_site_information, :html => { :class => "form-horizontal project_site_information" } do |f| %>

    <% if @project_site_information.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project_site_information.errors.count, "error") %> prohibited this project_site_information from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project_site_information.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :area_length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_length, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:area_length]) %>
  </div>
  <div class="control-group">
    <%= f.label :area_width, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_width, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:area_width]) %>
  </div>
  <div class="control-group">
    <%= f.label :area_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_description, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:area_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :geotech_report_in_position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geotech_report_in_position, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:geotech_report_in_position]) %>
  </div>
  <div class="control-group">
    <%= f.label :bobcat_accessible, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bobcat_accessible, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:bobcat_accessible]) %>
  </div>
  <div class="control-group">
    <%= f.label :construction_fence_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :construction_fence_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:construction_fence_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :client_fence_dismantle_reinstall_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_fence_dismantle_reinstall_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:client_fence_dismantle_reinstall_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :rock_excavation_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rock_excavation_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:rock_excavation_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :hand_dig_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hand_dig_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:hand_dig_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :dirt_haul_off_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dirt_haul_off_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:dirt_haul_off_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :tree_vegetation_removal_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tree_vegetation_removal_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:tree_vegetation_removal_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :area_is_sloped, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :area_is_sloped, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:area_is_sloped]) %>
  </div>
  <div class="control-group">
    <%= f.label :site_survey_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site_survey_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:site_survey_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :surface_protection_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surface_protection_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:surface_protection_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :under_ground_obstacles_yn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :under_ground_obstacles_yn, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:under_ground_obstacles_yn]) %>
  </div>
  <div class="control-group">
    <%= f.label :structural_removal_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :structural_removal_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:structural_removal_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :pvt_locator_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pvt_locator_required, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:pvt_locator_required]) %>
  </div>
  <div class="control-group">
    <%= f.label :project_type_information_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_type_information_id, :class => 'form-control' %>
    </div>
    <%= error_span(@project_site_information[:project_type_information_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            project_site_informations_path, :class => 'btn btn-default' %>

<% end %>
