<%- model_class = ProjectSiteInformation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">
<table cclass="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Area Length</th>
      <th>Area Width</th>
      <th>Area Description</th>
      <th>Geotech Report in Position</th>
      <th>Bobcat Accessible</th>
      <th>Construction Fence Required</th>
      <th>Client Fence Dismantle Reinstall Required</th>
      <th>Rock Excavation Required</th>
      <th>Hand Dig Required</th>
      <th>Dirt Haul Off Required</th>
      <th>Tree Vegetation Removal Required</th>
      <th>Area Is Sloped</th>
      <th>Site Survey Required</th>
      <th>Surface Protection Required</th>
      <th>Under Ground Obstacles</th>
      <th>Structural Removal Required</th>
      <th>PVT Locator Required</th>
      <th>Project Type Information ID</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_site_informations.each do |project_site_information| %>
      <tr>
        <td><%= link_to project_site_information.id, project_site_information_path(project_site_information) %></td>
        <td><%= project_site_information.area_length %></td>
        <td><%= project_site_information.area_width %></td>
        <td><%= project_site_information.area_description %></td>
        <td><%= project_site_information.geotech_report_in_position %></td>
        <td><%= project_site_information.bobcat_accessible %></td>
        <td><%= project_site_information.construction_fence_required %></td>
        <td><%= project_site_information.client_fence_dismantle_reinstall_required %></td>
        <td><%= project_site_information.rock_excavation_required %></td>
        <td><%= project_site_information.hand_dig_required %></td>
        <td><%= project_site_information.dirt_haul_off_required %></td>
        <td><%= project_site_information.tree_vegetation_removal_required %></td>
        <td><%= project_site_information.area_is_sloped %></td>
        <td><%= project_site_information.site_survey_required %></td>
        <td><%= project_site_information.surface_protection_required %></td>
        <td><%= project_site_information.under_ground_obstacles_yn %></td>
        <td><%= project_site_information.structural_removal_required %></td>
        <td><%= project_site_information.pvt_locator_required %></td>
        <td><%= project_site_information.project_type_information_id %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_site_information_path(project_site_information), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_site_information_path(project_site_information),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_site_information_path,
            :class => 'btn btn-primary' %>
