<div class="control-group">
    <%= f.label :contact_first_name, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_first_name, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_last_name, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_last_name, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_email, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_email, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_cell, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_cell, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_work, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_work, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_type_id, :class => 'control-label' %>

  <div class="controls">
    <%= f.collection_select :contact_type_id, ContactType.all, :id, :contact_type_name, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_address, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_address, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_city, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_city, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :contact_zip, :class => 'control-label' %>

  <div class="controls">
    <%= f.text_field :contact_zip, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
    <%= f.label :state_id, :class => 'control-label' %>

  <div class="controls">
    <%= f.collection_select :state_id, State.all, :id, :state_name, :class => 'form-control' %>
  </div>
</div>






