<body class="main" style="background-image: url(<%= asset_path 'island.jpg' %>)" >
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <img src="/app/assets/images/funabounds-login.png"/>
          </div>
        </div>
        <div class="panel-body">



<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

    <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :client_name, 'Client Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_name, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:client_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :billing_address, 'Billing Address', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :billing_address, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:billing_address]) %>
  </div>
  <div class="control-group">
    <%= f.label :billing_city, 'Billing City', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :billing_city, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:billing_city]) %>
  </div>
  <div class="control-group">
    <%= f.label :billing_zip, 'Billing Zip', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :billing_zip, :class => 'form-control' %>
    </div>
    <%= error_span(@client[:billing_zip]) %>
  </div>
  <div class="control-group">
    <%= f.label :state_id, 'State', :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :state_id, State.all, :id,:state_name, class: 'select2' %><br/>
    </div>
    <%= error_span(@client[:state_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            clients_path, :class => 'btn btn-default' %>

<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>