<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class ="backgroundContainerClient">

  <fieldset>
    <legend>General Information</legend>
<dl class="dl-horizontal">
  <dt><strong>Client Name:</strong></dt>
  <dd><%= @client.client_name %></dd>
  <dt><strong>Billing Address:</strong></dt>
  <dd><%= @client.billing_address %></dd>
  <dt><strong>Billing City:</strong></dt>
  <dd><%= @client.billing_city %></dd>
  <dt><strong>Billing Zip:</strong></dt>
  <dd><%= @client.billing_zip %></dd>
  <dt><strong>State:</strong></dt>
  <dd><%= @client.state.state_name %></dd>
</dl>
  </fieldset>
</div>
<div class = "showPageButton">
<%= link_to t('.back', :default => t("helpers.links.back")),
              clients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_path(@client), :class => 'btn btn-default' %>

</div>

<% if current_user.admin? || current_user.salesrep? || current_user.insidesales? %>
    <table class="DataTables" id ="contacts_table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Work</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>


        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @client.contacts.each do |contact| %>
      <tr>
          <td><%= contact.id %></td>
          <td><%= contact.full_contact_name %></td>
          <td><%= contact.contact_email %></td>
          <td><%= contact.contact_cell %></td>
          <td><%= contact.contact_work %></td>
          <td><%= contact.contact_address %></td>
          <td><%= contact.contact_city %></td>
          <td><%= contact.state.state_name %></td>
          <td><%= contact.contact_zip %></td>


          <td>
            <% if current_user.admin? %>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            contact, :class => 'btn-default btn-sm'  %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_contact_path(contact), :class => 'btn-default btn-sm' %>

         </td>
      </tr>
            <%end %>
      <% end %>
      </tbody>
    </table>





    <!-- Button trigger modal to create a new site -->



    <%= link_to 'Create New Project', new_project_path, :class => 'btn btn-primary btn-sm'%>
    <table class="DataTables" id ="projects_table">
      <thead>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Status</th>
        <th>Contact Name</th>
        <th>Cell</th>
        <th>Work</th>
        <th>Address</th>
        <th>Site Count</th>
        <th>Design Count</th>



        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
        <% @client.contacts.each do |contact| %>
            <% contact.project_contacts.each do |project_contact| %>
                <tr>
                  <td><%= project_contact.project_id %></td>
                  <td><%= project_contact.project.project_name %></td>
                  <td><%= project_contact.project.project_status.project_status_name %></td>
                  <td><%= project_contact.contact.full_contact_name %></td>
                  <td><%= project_contact.contact.contact_cell %></td>
                  <td><%= project_contact.contact.contact_work %></td>
                  <td><%= project_contact.contact.full_address %></td>
                  <td><%= project_contact.project.project_sites.count %></td>
                  <td><%= project_contact.project.designCount %></td>
                  <td><%= link_to 'Manage Project', project_path(project_contact.project), class: 'btn-default btn-sm' %></td>
                </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>

<% end %>








