<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Client Name:</strong></dt>
  <dd><%= @client.client_name %></dd>
  <dt><strong>Billing Address:</strong></dt>
  <dd><%= @client.billing_address %></dd>
  <dt><strong>Billing City:</strong></dt>
  <dd><%= @client.billing_city %></dd>
  <dt><strong>Billing Zip:</strong></dt>
  <dd><%= @client.billing_zip %></dd>
  <dt><strong>State:</strong></dt>
  <dd><%= @client.state.state_name %></dd>
</dl>

<div class = "showPageButton">
<%= link_to t('.back', :default => t("helpers.links.back")),
              clients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_path(@client), :class => 'btn btn-default' %>

</div>

<% if current_user.admin? || current_user.salesrep? || current_user.insidesales? %>
    <table class="DataTables" id ="contacts_table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Work</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>


        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @client.contacts.each do |contact| %>
      <tr>
          <td><%= contact.id %></td>
          <td><%= contact.full_contact_name %></td>
          <td><%= contact.contact_email %></td>
          <td><%= contact.contact_cell %></td>
          <td><%= contact.contact_work %></td>
          <td><%= contact.contact_address %></td>
          <td><%= contact.contact_city %></td>
          <td><%= contact.state.state_name %></td>
          <td><%= contact.contact_zip %></td>


          <td>
            <% if current_user.admin? %>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            contact, :class => 'btn-default btn-sm'  %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_contact_path(contact), :class => 'btn-default btn-sm' %>

         </td>
      </tr>
            <%end %>
      <% end %>
      </tbody>
    </table>





    <!-- Button trigger modal to create a new site -->


    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      Add New Client Contact
    </button>
<% end %>

<!---MODAL---->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add </h4>
      </div>
      <div class="modal-body">

        <%= form_for @contact, :remote => true, :html => { :class => "form-horizontal contact msform" } do |f| %>

            <% if @contact.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @contact.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>





                <div class="control-group">
                  <%= f.label :contact_type_id, 'Contact Type', :class => 'control-label' %>
                  <div class="controls contact-type-dropdown">
                    <%= f.collection_select :contact_type_id, ContactType.all, :id, :contact_type_name, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_type_id]) %>
                </div>

                <div class="control-group">

                  <%= f.hidden_field :client_id, :value => @client.id %>
                  <%= error_span(@contact[:client_id]) %>
                </div>
                <br>

                <div class="control-group">
                  <%= f.label :contact_first_name, 'First Name', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_first_name, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_first_name]) %>
                </div>
                <div class="control-group">
                  <%= f.label :contact_last_name, 'Last Name', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_last_name, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_last_name]) %>
                </div>
                <div class="control-group">
                  <%= f.label :contact_email, 'Email', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_email, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_email]) %>
                </div>
                <div class="control-group">
                  <%= f.label :contact_cell, 'Cell', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_cell, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_cell]) %>
                </div>
                <div class="control-group">
                  <%= f.label :contact_work, 'Work', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_work, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_work]) %>
                </div>


                <br>





                <div class="control-group">
                  <%= f.label :contact_address, 'Contact Address', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_address, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_work]) %>
                </div>
                <div class="control-group">
                  <%= f.label :contact_city, 'City', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_city, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_work]) %>
                </div>
                <div class="control-group">
                  <%= f.label :state_id, 'State', :class => 'control-label' %>
                  <div class="controls state-dropdown">
                    <%= f.collection_select :state_id, State.all, :id, :state_name, :class => 'form-control', :selected => 44 %>
                  </div>
                  <%= error_span(@contact[:contact_work]) %>
                </div>

                <div class="control-group">
                  <%= f.label :contact_zip, 'Zip', :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :contact_zip, :class => 'form-control' %>
                  </div>
                  <%= error_span(@contact[:contact_work]) %>
                </div>

                <br/>

            <%= f.submit nil, :class => 'btn btn-primary' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


<% end %>
</div>
</div>
</div>
</div>





