<%= form_for @soil_condition, :html => { :class => "form-horizontal soil_condition" } do |f| %>

    <% if @soil_condition.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@soil_condition.errors.count, "error") %> prohibited this soil_condition from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @soil_condition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :soil_condition_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :soil_condition_name, :class => 'form-control' %>
    </div>
    <%= error_span(@soil_condition[:soil_condition_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            soil_conditions_path, :class => 'btn btn-default' %>

<% end %>
