<%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

    <% if @contact.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="control-group">
      <%= f.label :contact_type_id, 'Contact Type', :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :contact_type_id, ContactType.all, :id,:contact_type_name, class: 'select2 form-control' %><br/>
      </div>
      <%= error_span(@contact[:contact_type_id]) %>
    </div>
    <div class="control-group">
      <%= f.label :client_id, 'Client Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :client_id, Client.all, :id,:client_name, class: 'select2 form-control' %><br/>
      </div>
      <%= error_span(@contact[:client_id]) %>
    </div>
  <div class="control-group">
    <%= f.label :contact_first_name, 'First Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:contact_first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :contact_last_name, 'Last Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:contact_last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :contact_email, 'Email', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_email, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:contact_email]) %>
  </div>
  <div class="control-group">
    <%= f.label :contact_cell, 'Cell', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_cell, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:contact_cell]) %>
  </div>
  <div class="control-group">
    <%= f.label :contact_work, 'Work', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_work, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:contact_work]) %>
  </div>




  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            contacts_path, :class => 'btn btn-default' %>

<% end %>
