<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables" data-order='[[ 1, "asc" ]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Work</th>
      <th>Address</th>
      <th>Client Name</th>
      <th>Contact Type</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.id, contact_path(contact) %></td>
        <td><%= contact.full_contact_name %></td>
        <td><%= contact.contact_email %></td>
        <td><%= contact.contact_cell %></td>
        <td><%= contact.contact_work %></td>
        <td><%= contact.full_address %></td>
        <td><%= contact.client.client_name unless contact.client_id.nil? %></td>
        <td><%= contact.contact_type.contact_type_name %></td>
        <td>
          <% if current_user.admin? %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      contact, :class => 'btn-default btn-sm'  %>
              <br><br>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contact_path(contact), :class => 'btn-default btn-sm' %>

          <% elsif current_user.insidesales? || current_user.salesrep? %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          contact, :class => 'btn-default btn-sm'  %>
              <br><br>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_contact_path(contact), :class => 'btn-default btn-sm' %>
          <% elsif current_user.installer? %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          contact, :class => 'btn-default btn-sm'  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-primary btn-index' %>
