<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="backgroundContainerContact">
  <fieldset>
    <legend>General Information</legend>
<dl class="dl-horizontal">

  <dt><strong>Contact Type:</strong></dt>
  <dd><%= @contact.contact_type.contact_type_name %></dd>
  <dt><strong>Contact Name:</strong></dt>
  <dd><%= @contact.full_contact_name %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= @contact.contact_email %></dd>
  <dt><strong>Cell:</strong></dt>
  <dd><%= @contact.contact_cell %></dd>
  <dt><strong>Work:</strong></dt>
  <dd><%= @contact.contact_work %></dd>
  <dt><strong>Address:</strong></dt>
  <dd><%= @contact.contact_address %></dd>
  <dt><strong>City:</strong></dt>
  <dd><%= @contact.contact_city %></dd>
  <dt><strong>Zip:</strong></dt>
  <dd><%= @contact.contact_zip %></dd>
  <dt><strong>State:</strong></dt>
  <dd><%= @contact.state.state_name %></dd>
  <dt><strong><%= 'Client:' unless @contact.client_id.nil? %> </strong></dt>
  <dd><%=@contact.client.client_name unless @contact.client_id.nil? %></dd>
  <dt><strong>Contact Type:</strong></dt>
  <dd><%= @contact.contact_type.contact_type_name %></dd>


</dl>
    </fieldset>
</div>
<div class = "showPageButton">
<% if current_user.admin? || current_user.insidesales? || current_user.salesrep? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              contacts_path, :class => 'btn btn-default btn-sm'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_path(@contact), :class => ' fa fa-edit fa-2 btn btn-default btn-sm' %>

<% elsif current_user.installer? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
            contacts_path, :class => 'btn-default btn-sm'  %>
<% end %>
</div>