<tr>
  <td><%= psi.site_name %></td>
  <td><%= psi.site_address %></td>
  <td><%= psi.site_city %></td>
  <td><%= psi.state.state_name %></td>
  <td><%= psi.site_zip %></td>
  <td><%= link_to 'Show', psi %></td>
</tr>