<tr>
  <td><%= psi.id %></td>
  <td><%= psi.project_site.site_name %></td>
  <td><%= psi.project_site.site_address %></td>
  <td><%= psi.project_site.site_city %></td>
  <td><%= psi.project_site.state.state_name %></td>
  <td><%= psi.project_site.site_zip %></td>
  <td>

    <%= link_to "Site Info", {:controller => "project_site_informations", :action => "edit", :id => psi.id }%>
    <%= link_to 'Design Info', psi , :class => 'btn-primary btn-sm'%>
    <a href="http://maps.google.com/?q=<%=psi.project_site.get_address%>" target="_blank" class="btn btn-info btn-sm"><span class="fa fa-map-marker"> Map</span></a>
    <a href="http://www.weather.com/weather/today/l/<%=psi.project_site.get_address%>" target="_blank" class="btn btn-warning btn-sm"><span class="fa fa-sun-o fa-5"> Weather</span></a>
  </td>
</tr>