<tr>
  <td><%= psi.id %></td>
  <td><%= psi.project_site.site_name %></td>
  <td><%= psi.project_site.site_address %></td>
  <td><%= psi.project_site.site_city %></td>
  <td><%= psi.project_site.state.state_name %></td>
  <td><%= psi.project_site.site_zip %></td>
  <td>
    <div>
    <%= link_to "Site Info", edit_project_site_information_path(psi),:class => "btn btn-default btn-sm" unless current_user.installer?%>
    <%= link_to 'Design Info', psi , :class => 'btn btn-default btn-sm' unless current_user.installer? %>
    <%= link_to "Delete", psi, :method=>:delete, data: {confirm: "Are you sure? You will delete " + psi.project_type_informations.count.to_s + " Designs too!"}, :class => 'btn btn-danger btn-sm' unless current_user.installer? %>
    </div>
    <br>
    <div>
    <a href="http://maps.google.com/?q=<%=psi.project_site.get_address%>" target="_blank" class="btn btn-info btn-sm"><span class="fa fa-map-marker"> Map</span></a>
    <a href="http://www.weather.com/weather/today/l/<%=psi.project_site.get_address%>" target="_blank" class="btn btn-warning btn-sm"><span class="fa fa-sun-o fa-5"> Weather</span></a>
    </div>
  </td>
</tr>