<%- model_class = Project -%>
<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">

<table class="table table-striped DataTables" >

  <thead>
    <tr>
      <th>ID</th>
      <th>Project Name</th>
      <th>Start Date</th>
      <th>Proposal Deadline</th>
      <th>Sales Person</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% if current_user.admin? %>
            <% if project.project_status.status_category_id == 1 %>
                <td style = "background-color:cornflowerblue"><%= project.id %></td>
            <% elsif project.project_status.status_category_id == 2 %>
                <td style = "background-color:darkorange"><%= project.id %></td>
            <% elsif project.project_status.status_category_id == 3 %>
                <td style = "background-color:#5cb85c"><%= project.id %></td>
            <% end %>
        <td><%= project.project_name %></td>
        <td><%= project.start_date.to_formatted_s(:long_ordinal)%></td>
        <td><%= project.proposal_deadline.to_formatted_s(:long_ordinal)%></td>
        <td><%= project.sales_person.sales_person_fullname %></td>
        <td>
        <%= form_for(project) do |f| %>
              <%= f.collection_select :project_status_id, ProjectStatus.all, :id,:project_status_name, class: 'btn btn-default' %><br/>
        </td>
        <td>
          <%= f.submit 'Status', :class => 'btn-default btn-sm' %>
          <% end %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      project_path(project), :class => 'btn-default btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn-default btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to ('PIF (PDF)'), project_path(project, format: "pdf"), :class => 'btn-default btn-sm', :target => "_blank"  %>


        </td>
        <% elsif current_user.salesrep? %>
            <td><%= link_to project.id, project_path(project) %></td>
            <td><%= project.project_name %></td>
            <td><%= project.start_date.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.proposal_deadline.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.sales_person.sales_person_fullname %></td>
            <td>
              <%= form_for(project) do |f| %>
                  <%= f.collection_select :project_status_id, ProjectStatus.all, :id,:project_status_name, class: 'btn btn-default' %><br/>
                  </td>
                  <td>
                    <%= f.submit 'Status', :class => 'btn-default btn-sm' %>
              <% end %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          project_path(project), :class => 'btn-default btn-sm' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_project_path(project), :class => 'btn-default btn-sm' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          project_path(project),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn-sm btn-danger' %>
              <%= link_to ('PIF (PDF)'), project_path(project, format: "pdf"), :class => 'btn-default btn-sm' %>
              </td>
        <% elsif current_user.insidesales? %>
            <td><%= link_to project.id, project_path(project) %></td>
            <td><%= project.project_name %></td>
            <td><%= project.start_date.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.proposal_deadline.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.sales_person.sales_person_fullname %></td>
            <td>
              <%= form_for(project) do |f| %>
                  <%= f.collection_select :project_status_id, ProjectStatus.all, :id,:project_status_name, class: 'btn btn-default' %><br/>
                  </td>
                  <td>
                    <%= f.submit 'Status', :class => 'btn-default btn-sm' %>
              <% end %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          project_path(project), :class => 'btn-default btn-sm' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_project_path(project), :class => 'btn-default btn-sm' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          project_path(project),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
              <%= link_to ('PIF (PDF)'), project_path(project, format: "pdf"), :class => 'btn-default btn-sm' %>
              </td>
        <% elsif current_user.installer? %>
            <td><%= link_to project.id, project_path(project) %></td>
            <td><%= project.project_name %></td>
            <td><%= project.start_date.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.proposal_deadline.to_formatted_s(:long_ordinal)%></td>
            <td><%= project.sales_person.sales_person_fullname %></td>
            <td><%= project.project_status.project_status_name %></td>
            <td>
            <%= link_to ('PIF (PDF)'), project_path(project, format: "pdf"), :class => 'btn-default btn-sm' %>
            </td>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>
</div>

<% if current_user.admin? || current_user.insidesales? || current_user.salesrep? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn-primary btn-sm' %>
<% end %>