<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Project Name:</strong></dt>
  <dd><%= @project.project_name %></dd>
  <dt><strong>Start Date:</strong></dt>
  <dd><%= @project.start_date.to_formatted_s(:long_ordinal)%></dd>
  <dt><strong>Deadline:</strong></dt>
  <dd><%= @project.deadline.to_formatted_s(:long_ordinal)%></dd>
  <dt><strong>Client Goal:</strong></dt>
  <dd><%= @project.client_goal %></dd>
  <dt><strong>Time Frame Desc:</strong></dt>
  <dd><%= @project.time_frame_description %></dd>
  <dt><strong>Mobilization Quantity:</strong></dt>
  <dd><%= @project.mobilization_quantity %></dd>
  <dt><strong>Liquidate Damages?:</strong></dt>
  <dd><%= @project.liquidate_damages_yn %></dd>
  <dt><strong>Wages & Certified Payroll?:</strong></dt>
  <dd><%= @project.prevailing_wages_certified_payroll_yn %></dd>
  <dt><strong>Permit Special Possessed?:</strong></dt>
  <dd><%= @project.permit_special_inspection_in_possession %></dd>
  <dt><strong>Restricted Work Hours?:</strong></dt>
  <dd><%= @project.restricted_work_hours %></dd>
  <dt><strong>Permit Submittal Required?</strong></dt>
  <dd><%= @project.permit_submittal_required %></dd>
  <dt><strong>Permit Fees Required?:</strong></dt>
  <dd><%= @project.permit_fees_required %></dd>
  <dt><strong>Permit Fees:</strong></dt>
  <dd><%= @project.permit_fees %></dd>
  <dt><strong>Project Budget:</strong></dt>
  <dd><%= @project.project_budget %></dd>
  <dt><strong>Deal Type:</strong></dt>
  <dd><%= @project.deal_type_id %></dd>
  <dt><strong>Deal Type Desc:</strong></dt>
  <dd><%= @project.deal_type_description %></dd>
  <dt><strong>Project Setting:</strong></dt>
  <dd><%= @project.project_setting_id %></dd>
  <dt><strong>Procurement Tool:</strong></dt>
  <dd><%= @project.procurement_tool_id %></dd>
  <dt><strong>Sales Person:</strong></dt>
  <dd><%= @project.sales_person_id %></dd>
  <dt><strong>Project Status:</strong></dt>
  <dd><%= @project.project_status.project_status_name %></dd>
  <dt><strong>Irrigation Responsibility:</strong></dt>
  <dd><%= @project.irrigation_responsibility_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
