<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">

          </div>
        </div>
        <div class="panel-body">
          <%= form_for @category_option_selection, :html => { :class => "form-horizontal category_option_selection" } do |f| %>

    <% if @category_option_selection.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@category_option_selection.errors.count, "error") %> prohibited this category_option_selection from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @category_option_selection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :category_option_id, 'Category Option', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_option_id, :class => 'form-control' %>
    </div>
    <%= error_span(@category_option_selection[:category_option_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :project_type_information_id, 'Project Type Information', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_type_information_id, :class => 'form-control' %>
    </div>
    <%= error_span(@category_option_selection[:project_type_information_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            category_option_selections_path, :class => 'btn btn-default' %>

<% end %>
</div>
</div>
</div>
</div>
</div>