<%- model_class = ContactType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th> ID </th>
      <th>Contact Type Name</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contact_types.each do |contact_type| %>
      <tr>
        <td><%= link_to contact_type.id, contact_type_path(contact_type) %></td>
        <td><%= contact_type.contact_type_name %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contact_type_path(contact_type), :class => ' btn-default btn-sm' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_type_path,
            :class => 'btn btn-primary btn-index' %>
