<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">

          </div>
        </div>
        <div class="panel-body">

<%= form_for @project_setting, :html => { :class => "form-horizontal project_setting" } do |f| %>

    <% if @project_setting.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project_setting.errors.count, "error") %> prohibited this project_setting from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project_setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
              <div class = "required">* Required Fields</div>
  <div class="control-group">
    <%= f.label :project_setting_name,'*Project Setting Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_setting_name, :class => 'form-control' %>
    </div>
    <%= error_span(@project_setting[:project_setting_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            project_settings_path, :class => 'btn btn-default' %>

<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
