<%- model_class = ProjectSetting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Project Setting Name</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_settings.each do |project_setting| %>
      <tr>
        <td><%= link_to project_setting.id, project_setting_path(project_setting) %></td>
        <td><%= project_setting.project_setting_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_setting_path(project_setting), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_setting_path,
            :class => 'btn btn-primary' %>
