<%- model_class = ProjectUtility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:utility_id) %>:</strong></dt>
  <dd><%= @project_utility.utility_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_site_information_id) %>:</strong></dt>
  <dd><%= @project_utility.project_site_information_id %></dd>
</dl>

<div class = "showPageButton">
<%= link_to t('.back', :default => t("helpers.links.back")),
              project_utilities_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_utility_path(@project_utility), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_utility_path(@project_utility),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>