<%- model_class = RequestedSalesDocument -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Requested Sales Document Name</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requested_sales_documents.each do |requested_sales_document| %>
      <tr>
        <td><%= link_to requested_sales_document.id, requested_sales_document_path(requested_sales_document) %></td>
        <td><%= requested_sales_document.requested_sales_document_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_requested_sales_document_path(requested_sales_document), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      requested_sales_document_path(requested_sales_document),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_requested_sales_document_path,
            :class => 'btn btn-primary' %>
