<%= simple_form_for(@project_type_information)do |f| %>

    <%= f.input :proposal_number %>
    <%= f.input :revision_number %>
    <%= f.association :project_type, label_method: :project_type_name %>


    <input class="check_boxes optional" type="checkbox" value="25" name="project_type_information[category_option_ids][]"
           id = "project_type_information_category_option_ids_25">

    <div class="control-group">
      <% Category.where('project_type_id = 2').each do |category| %>

              <h3> <%= category.category_name %> </h3> <br/>
              <% category.category_options.each do |category_option|  %>

                  <%= check_box_tag "project_type_information[category_option_ids][]", category_option.id, @project_type_information.category_option_ids.include?(category_option.id) %>
                  <%= label_tag(category_option.category_option_name + '_' + category_option.id.to_s, category_option.category_option_name) %>
                  <br/>

          <% end %>


      <% end %>
    </div>

    <div class="control-group">
      <% Question.where('project_type_id = 2').each do |question| %>
        <h3><%= question.question_name %></h3>
        <%= hidden_field_tag "[question_ids][]", question.id %>
        <%= text_area_tag "[answer_texts][]", Answer.where('project_type_information_id = ? and question_id = ?',@project_type_information.id, question.id).any? ? Answer.where('project_type_information_id = ? and question_id = ?',@project_type_information.id, question.id).first.answer_text : "" %>

      <% end %>
    </div>

    <%= f.button :submit %>

<% end %>
