<%= form_for @category_option, :html => { :class => "form-horizontal category_option" } do |f| %>

    <% if @category_option.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@category_option.errors.count, "error") %> prohibited this category_option from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @category_option.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :category_option_name, 'Category Option', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_option_name, :class => 'form-control' %>
    </div>
    <%= error_span(@category_option[:category_option_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :category_id, 'Category ID', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@category_option[:category_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            category_options_path, :class => 'btn btn-default' %>

<% end %>
