<%- model_class = CategoryOption -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category Option Name</th>
      <th>Category ID</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @category_options.each do |category_option| %>
      <tr>
        <td><%= link_to category_option.id, category_option_path(category_option) %></td>
        <td><%= category_option.category_option_name %></td>
        <td><%= category_option.category_id %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      category_option, :class => 'btn-default btn-sm'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_category_option_path(category_option), :class => ' btn-default btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      category_option_path(category_option),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => ' btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_option_path,
            :class => 'btn btn-primary btn-index' %>
