<%- model_class = SalesPerson -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sales_person_first_name) %>:</strong></dt>
  <dd><%= @sales_person.sales_person_first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sales_person_last_name) %>:</strong></dt>
  <dd><%= @sales_person.sales_person_last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sales_person_email) %>:</strong></dt>
  <dd><%= @sales_person.sales_person_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sales_person_phone) %>:</strong></dt>
  <dd><%= @sales_person.sales_person_phone %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sales_people_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sales_person_path(@sales_person), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sales_person_path(@sales_person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
