<div class="page-header">
  <h1><%=t '.title', :default => 'Reports' %></h1>
</div>
<table class="table table-striped DataTables">
  <thead>
  <tr>
    <th>Report Name</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Monthly Client Report</td>
    <td>

      <%= link_to('View Report', reports_index_path(format: "pdf"), :class => 'btn-default btn-sm')  %>
    </td>
  </tr>
  <tr>
    <td>Monthly Project Report</td>
    <td>
      <%= link_to('View Report', reports_monthly_projects_path, :class => 'btn-default btn-sm')  %>
    </td>
  </tr>
  <tr>
    <td>Completed Projects Report</td>
    <td>
      <%= link_to('View Report', reports_completed_projects_path, :class => 'btn-default btn-sm')  %>
    </td>
  </tr>
  <tr>
    <td>Project In Pre Proposal</td>
    <td>
      <%= link_to('View Report', reports_preproposal_projects_path, :class => 'btn-default btn-sm')  %>
    </td>
  </tr>
  <tr>
    <td>Projects In Progress Report</td>
    <td>
      <%= link_to('View Report', reports_inprogress_projects_path, :class => 'btn-default btn-sm')  %>
    </td>
  </tr>
  </tbody>
</table>