<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h1><%=t '.title', :default => 'Monthly Project Reports' %></h1>
</div>
<div class="table-responsive">

  <table class="table table-striped DataTables" >

    <thead>
    <tr>
      <th>ID</th>
      <th>Project Name</th>
      <th>Start Date</th>
      <th>Proposal Deadline</th>
      <th>Sales Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% Project.where(created_at: (DateTime.current.midnight - 30.day)..Date.current.midnight).each do |project| %>
        <tr>
              <td><%= project.id %></td>
              <td><%= project.project_name %></td>
              <td><%= project.start_date.to_formatted_s(:long_ordinal)%></td>
              <td><%= project.proposal_deadline.to_formatted_s(:long_ordinal)%></td>
              <td><%= project.sales_person.sales_person_fullname %></td>
              <td><%= project.project_status.project_status_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>