
<div class="page-header">
  <h1><%=t '.title', :default => 'Monthly Client Report' %></h1>
</div>
  <table class="table table-striped DataTables">
  <thead>
  <tr>
    <th>ID</th>
    <th>Client Name</th>
    <th>Billing Address</th>
    <th>Billing City</th>
    <th>Billing Zip</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  <% Client.where(created_at: (DateTime.current.midnight - 30.day)..Date.current.midnight).each do |client| %>
      <tr>
        <td><%= client.id%></td>
        <td><%= client.client_name %></td>
        <td><%= client.billing_address %></td>
        <td><%= client.billing_city %></td>
        <td><%= client.billing_zip %></td>
        <td><%= client.state.state_name %></td>
  </tr>
  <% end %>
  </tbody>
</table>