<!DOCTYPE html>
<html>
<head>
  <title>fun abounds</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--DataTables CDN-->
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
</head>
<body>

<% if user_signed_in? %>
    <%= render 'layouts/navigation' %>
<% else %>
    <%= render 'layouts/navigationunsigned' %>
<% end %>

<%= yield %>



</body>
</html>
