<!DOCTYPE html>
<html>
<head>
  <title>fun abounds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class= "navbar navbar-default">
	<div class= "container-fluid">
		<div class = "nav-header">
			<a class = "navbar-brand" href="#"> Logo </a>
		</div>
		<div class = "navbar-collapse collapse">
			<ul class = "nav navbar-nav">
				<li>
					<a href="#">Dashboard </a>
				</li>
				<li>
					<%= link_to 'Create Project', controller: 'projects', action: 'new' %>
				</li>
				<li>
					<%= link_to 'Project Workbench', controller: 'projects', action: 'index' %>
				</li>
				<li>
					<a href="#">Clients </a>
				</li>
				<li>
					<a href="#">Reports </a>
				</li>
			
			<ul>
		</div>

	</div>


</nav>

<%= yield %>



</body>
</html>
